.page {
  max-width: 900px;
}

.main {
  float: left;
  width: 65%;
}

  .main img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 25%;
  }

.nav {
  background-color: #B00;
  list-style: none;
  float: left;
  margin: 0;
  margin-right: 3%;
  padding: 0;
  width: 25%;
}

  .nav a {
    border-bottom: 1px solid #900;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 15px;
  }

  .nav a:hover {
    background-color: #900;
  }